.main-content{
    margin-top: 10px;
    margin-right: 10px;
}
.main-content table{
    width: 100%;
    text-align: center;
}
table tr{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: hidden;
}
table td{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.ceil{ 
    cursor: pointer;
    height: 105px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}
.ceil .show-more{
    transition: .1s;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: #ccc;
    width: 100%;
    height: 10px;
}
.ceil:hover .show-more{
    border-radius: 100px 100px 0 0;
    bottom: 0px;
}